@font-face {
    font-family: Font Titulos;
    src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Font h3;
    src: url(../fonts/BowlbyOneSC-Regular.ttf);
}

#navbar{
background: black;
}


*{
    
}

body{
    background: #22AA8E
}

#titulo{
    font-family: Font Titulos;
    text-align: center;
    font-size: 3em;
}

#buscador{
margin-bottom: 30px;
text-align: center;
}

#searchInput{
    border-radius: 40px;
    width: 50%;
    height: 50px;
    font-size: 2em;
}

button{
    border-radius: 10px;
    background: #F29BAF;
    font-size: 2em  ;
    
}

#resultados{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
h3{
    width: 300px;
    font-family: Font h3;
}



