@font-face {
    font-family: Font Titulos;
    src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Font h3;
    src: url(../fonts/BowlbyOneSC-Regular.ttf);
}

#buscador{
margin-bottom: 30px;
text-align: center;
}

#searchInput{
    border-radius: 40px;
    width: 50%;
    height: 50px;
    font-size: 2em;
}

button{
    border-radius: 10px;
    background: #F29BAF;
    font-size: 2em  ;
}

h3{
    width: 300px;
    font-family: Font h3;
}

h1 #titulo{
    text-align: center;
    margin-left: 20px;
}

p{
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}